@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.LayoutImage{
    box-sizing: border-box;
    height: 97%;
    width: 30%;
    margin-left: 15px;
    z-index: 0;
    cursor: pointer;

    &:hover{
        z-index: 1;
    }

    .Container{
        position: relative;
        height: 100%;
        width: 100%;

        .OuterDiv{
            height: 100%;
            width: 100%;
            transition: transform .8s;

            .InnerDivImg{
                height: 100%;
                width: 100%;
                background-origin: border-box;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:hover{
                -ms-transform: scale(1.2); /* IE 9 */
                -webkit-transform: scale(1.2); /* Safari 3-8 */
                transform: scale(1.2);
            }
        }
    }
}