@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.GettingStarted{
    width: 100%;
    font-family: 'Roboto';
    font-size: 1em;

    .GetStartedLogo{
        display: block;
        font-weight: 400;
        margin-top: 0.4em;
        font-size: 1.2em;
        text-transform: uppercase;
    }

    .Partition{
        display: flex;
        margin: 10px 0px 100px 2px;
        flex: 1;
        flex-direction: row
    }

    .PartitionIcon{
        font-size: 2.5em;
    }

    .PartitionMainContainer{
        padding: 0px 0px 0px 15px;
    }

    .GettingStartedContainer{
        display: flex;
        font-size: 2em;
        font-weight: bold;
        margin-top: 2.5em;

        .DropDownStyling{
            font-size: 1em;
            width: 250px;
            margin-left: 10px;
            margin-top: 3px;

            span[class^="ms-Dropdown-title title_"]{
                border: none;
                border-bottom: 2px solid purple;
            }

            span[class^="ms-Dropdown-caretDownWrapper caretDownWrapper_"]{
                display: none;
            }
        }

        .DropDownStylingOnChange{
            font-size: 1em;
            color: purple;
            font-weight: bolder;
            width: auto;
            margin-left: 10px;
            margin-top: 3px;

            span[class^="ms-Dropdown-title title_"]{
                border: none;
                border-bottom: 2px solid purple;
                padding: 0px;
            }

            span[class^="ms-Dropdown-caretDownWrapper caretDownWrapper_"]{
                display: none;
            }
        }
    }
}