@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.SiteCreationStatus{
    width: 100%;
    height: 435px;
    box-sizing: border-box;
    font-family: 'Roboto';

    .SiteCreationContainer{
        width: 80%;
        padding-top: 25%;
        margin-left: 72px;

        div[class^="ms-ProgressIndicator-itemName itemName-"]{
            font-weight: bolder;
            font-size: 18px;
        }
    }
}