@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.SiteClassification{
    width: 100%;
    height: 435px;
    display: flex;
    flex-direction: row;

    .LeftLayoutHolder{
        width: 50%;
        @include ms-font-xl;
        @include ms-fontColor-white;
        background-color: $ms-color-themePrimary;
    }

    .RightLayoutHolder{
        margin: auto;
        width: 50%;

        .SiteClassificationSelection{
            width: 90%;
            margin: auto;
            
            span[class^="ms-Dropdown-title"]{
                border: none;
                border-bottom: 1px solid purple;
            }
        }

        .NavigationFooter{
            position: absolute;
            bottom: 7%;
            right: 2%;
        }
    }
}