@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.SiteTimeZone{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;

    .LeftLayoutHolder{
        width: 50%;
        @include ms-font-xl;
        @include ms-fontColor-white;
        background-color: $ms-color-themePrimary;
    }

    .RightLayoutHolder{
        width: 50%;
        margin: auto;

        .TimeZoneSelection{
            width: 90%;
            margin-left: 17px;
        }
    }
}