@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.DesignPickerMain{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;

    .LeftLayoutHolder{
        width: 50%;
        @include ms-font-xl;
        @include ms-fontColor-white;
        background-color: $ms-color-themePrimary;
    }

    .RightLayoutHolder{
        margin-top: 2%;
        width: 50%;

        .DesignPickerSection{
            width: 100%;
            display: flex;
            flex-flow: wrap;
            flex-direction: row;
        }

        .NavigationFooter{
            position: absolute;
            bottom: 7%;
            right: 2%;
        }
    } 

}